<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/icon/favicon-16x16.png" />
  <title>Bon's Online Store</title>
</head>
<body>
  
</body>
</html>